html {
  height: 100vh;
  width: 100vw;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* локации */
#locations {
  top:0;
  left:0;
  height: 100vh;
  width: 900vw;
  display: flex;
  overflow: hidden;
  z-index: 4;
}
.location0{
  height: 100%;
  width: 100vw;
  background:url('../images/loc0.png');
  background-size: cover;
  position: relative;
  background-position: center;
}
.location1, .location2, .location3, .location4 {
  height: 100%;
  width: 200vw;
  background-position: center;
  position: relative;
}
.location1 {
  background:url('../images/loc1.png');
  background-size: cover;
}
.location2 {
  background:url('../images/loc2.png');
  background-size: cover;
}
.location3 {
  background:url('../images/loc3.png');
  background-size: cover;
}
.location4 {
  background:url('../images/loc4.png');
  background-size: cover;
}
.loc1 {
  width: 100%;
  height: 100%;
  position: absolute;
}
.loc1 h2, .loc2 h2, .loc3 h2, .loc4 h2, .location0 h2  {
  font-style: italic;
  position: fixed;
  font-size: 17vw;
  color: #DEFFFF;
  transition: all 0.5s ease-out;
}
.location0 h2 {
  bottom: 6vw;
  right: 28vw;
}
.loc1 h2{
  top: 6vw;
  left: 6vw;
}
.loc2 h2{
  bottom: 4vw;
  left: 6vw;
}
.loc4 h2{
  top: 6vw;
  right: 6vw;
}
.loc3 h2{
  bottom: 4vw;
  right: 6vw;
}
h2 span, .location0 h2 {
  font-size: 7vw;
}
.draggable {
  z-index: 6;
}
.loc_text {
  position: fixed;
  width: 32vw;
  height: 12vw;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3vw;
  padding: 3vw;
}
.loc1 .loc_text:nth-of-type(2) {
  top: 21vw;
  left: 6vw;
}
.loc1 .loc_text:nth-of-type(1) {
  top: 27vw;
  left: 24vw;
}
.loc2 .loc_text:nth-of-type(2) {
  bottom: 21vw;
  left: 6vw;
}
.loc2 .loc_text:nth-of-type(1) {
  bottom: 27vw;
  left: 24vw;
}
.loc3 .loc_text:nth-of-type(2) {
  bottom: 21vw;
  right: 6vw;
}
.loc3 .loc_text:nth-of-type(1) {
  bottom: 27vw;
  right: 24vw;
}
.loc4 .loc_text:nth-of-type(2) {
  top: 21vw;
  right: 6vw;
}
.loc4 .loc_text:nth-of-type(1) {
  top: 27vw;
  right: 24vw;
}
.loc_text p {
  font-size: 1.7vw;
  color: #F05A7E;
}
/* гуляющий котик */
#walking_cat {
  position: fixed;
  top: 35%;
  left: 35%;
  width: 24vw;
  height: 16vw;
  background:url('../images/catstop.svg');
  background-size: cover;
  animation: catgo .75s steps(1) infinite;
}
@keyframes catgo {
  0% {background-position: 0;}
  50% {background-position: -24vw;}
}
