html {
  height: 100vh;
  width: 100vw;
  /* overflow: auto; */

}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
#locations {
  top:0;
  left:0;

  height: 100vh;
  width: 900%;
  /* position: fixed; */
  display: flex;
  overflow: hidden;

}
.location0{
  height: 100%;
  width: 100%;
  background:url('../images/loc0.png');
  background-size: cover;
  position: relative;
  background-position: center;
}
.location1, .location2, .location3, .location4 {
  height: 100%;
  width: 200%;
background-position: center;
  position: relative;
}
.location1 {
  background:url('../images/loc1.png');
  background-size: cover;

}
.location2 {
  background:url('../images/loc2.png');
  background-size: cover;
}
.location3 {
  background:url('../images/loc3.png');
  background-size: cover;
}
.location4 {
  background:url('../images/loc4.png');
  background-size: cover;
}
.location1 h2, .location2 h2, .location3 h2, .location4 h2 {
  font-style: italic;
  position: absolute;
  font-size: 17vw;
  color: #DEFFFF;
}
.location1 h2{
  top: 6vw;
  left: 6vw;
}
.location2 h2{
  bottom: 4vw;
  left: 6vw;
}
.location3 h2{
  top: 6vw;
  right: 106vw;
}
.location4 h2{
  bottom: 4vw;
  right: 106vw;
}
